pkgbase = patata-git
	pkgdesc = A pomodoro timer for the shell
	pkgver = 7
	pkgrel = 1
	url = https://github.com/emiham/patata
	arch = any
	license = MIT
	depends = alsa-utils
	optdepends = notify-send
	source = patata.sh
	source = notification.wav
	source = LICENSE
	md5sums = 73e4c7f412fa0f17f66e94eec7487894
	md5sums = b01bacb54937c9bdd831f4d4ffd2e31c
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = patata-git
